services:
	- App\Core\RouterFactory::createRouter
	- App\UI\Accessory\AuthorizatorFactory::create
	- Nette\Http\UrlScript

	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])


search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade
