

{block content}
{block title}<h1 class="d-none">Home</h1>{/block}
    <div class="container-sm bg-light vh-100">
        <h4 class="pt-3">Úvodní strana</h4>
        <p class="lead">
            Aplikace na tvorbu rozvrhů
        </p>
    </div>